@import 'params';

.header {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
}

.navTrigger {
  &--open {
    background: url("../../assets/img/hamburger.svg") no-repeat;
  }
  &--close {
    background: url("../../assets/img/close.svg") no-repeat;
  }
}

.entryLines {
  position: absolute;
  &--left {
    left: -15px;
    top: 0;
  }
  &--right {
    bottom: 0;
    right: -15px;
  }
}

.logo {
  margin: auto;
}

.section {
  position: relative;
  display: flex;
  &__Heading {
    text-align: center;
    &--h1 {
      @include heading1();
      margin: 10px 0;
    }
    &--h2 {
      @include heading2();
      margin: 25px 0;
    }
    &--h3 {
      @include heading3();
      margin: 10px 0;
    }
  }
  &__Text {
    @include text();
    text-align: justify;
  }
  &__PageTrigger {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
  }
}