@import 'params';

body {
  overflow-x: hidden;
  word-break: break-word;
  overflow-wrap: break-word;
}

.no-scroll {
  height: 100%;
  overflow-y: hidden;
}

.nav {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: #ffffff;
  z-index: -1;
  opacity: 0;
  transform: translateY(-100%);
  transition: transform 0.75s ease-in-out;
  overflow-y: auto;
  &--open {
    transform: translateY(0);
  }
  &__Header {
    display: flex;
    position: relative;
  }
  &__Content {
    display: flex;
    flex-direction: column;
  }
  &__Logo {
    display: flex;
    align-items: baseline;
  }
  &__LogoImage {
    width: 100px;
  }
  &__LogoText {
    margin-left: 10px;
    font-weight: 200;
  }
  &__Lang {
    display: flex;
  }
  &__LangItem {
    color: $darkGray;
    cursor: pointer;
    &--active {
      color: $gold;
    }
  }
  &__LangSeparator {
    margin: 0 4px;
  }
  &__Item {
    position: relative;
    align-self: baseline;
    &:before {
      position: absolute;
      content: "";
      width: 15px;
      height: 5px;
      bottom: 0;
      left: 0;
      background-color: $gold;
      transition: width 0.25s ease-in-out;
    }
    &:hover {
      &:before {
        width: 100%;
      }
    }
  }
  &__ItemLink {
    cursor: pointer;
    padding: 15px;
    color: $darkGray;
    font-size: 2em;
    text-transform: uppercase;
    transition: opacity 0.25s ease-in-out;
    &:hover {
      text-decoration: none;
      color: $darkGray;
    }
    &--active {
      color: $gold;
      &:hover {
        color: $gold;
      }
    }
  }
}

.header {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 2;
  width: $navTriggerWidth + ($navTriggerHorizontalMargin * 2);
  height: $navTriggerHeight + ($navTriggerVerticalMargin * 2);
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.navTrigger {
  width: $navTriggerWidth;
  height: $navTriggerHeight;
  margin: $navTriggerVerticalMargin $navTriggerHorizontalMargin;
}

.entryLines {
  position: absolute;
  z-index: 1;
  pointer-events: none;
  &--left {
    left: -15px;
    top: 0;
  }
  &--right {
    bottom: 0;
    right: -15px;
  }
}

.logo {
  margin: auto;
}

.section {
  position: relative;
  display: flex;
  &__Row {
    flex: 1 0 100%;
  }
  &__Heading {
    text-align: center;
    &--h1 {
      @include heading1();
      margin: 10px 0;
    }
    &--h2 {
      @include heading2();
      margin: 25px 0;
    }
    &--h3 {
      @include heading3();
      margin: 10px 0;
    }
  }
  &__Text {
    @include text();
    text-align: justify;
    margin: 50px 0;
  }
}

.portfolioList {
  &__Item {
    display: flex;
    margin: 50px 10px;
    cursor: pointer;
    &:hover {
      .portfolioList__ItemIcon {
        transform: translateX(15px);
      }
    }
  }
  &__ItemText {
    color: $darkGray;
    font-size: 2em;
    font-weight: 200;
  }
  &__ItemIcon {
    width: 30px;
    height: auto;
    margin: auto 10px;
    transition: transform 0.25s ease-in-out;
  }
}

.contact {
  &__Title {
    color: $darkGray;
    margin: 15px 0;
  }
  &__Email {
    color: $darkGray;
    word-break: break-word;
    position: relative;
    &::before {
      position: absolute;
      content: "";
      left: 0;
      bottom: 0;
      width: 100%;
      height: 5px;
      background-color: $gold;
      transform: scaleX(0);
      transform-origin: left;
      transition: transform 0.5s ease-in-out;
      z-index: -1;
    }
    &:hover {
      text-decoration: none;
      color: $darkGray;
      &::before {
        transform: scaleX(1);
      }
    }
  }
}

.footer {
  &__Caption {
    font-weight: 200;
  }
  &__IconsContainer {
    display: flex;
    align-items: center;
  }
  &__IconWrapper {
    transition: transform 0.25s ease-in-out;
    &:hover {
      transform: scale(1.2);
    }
  }
  &__Icon {
    height: auto;
  }
}

.project {
  position: fixed;
  height: 100vh;
  width: 100vw;
  overflow: auto;
  z-index: -1;
  opacity: 0;
  background-color: #ffffff;
  transform: translateX(100%);
  transition: transform 0.75s ease-in-out;
  &--show {
    transform: translateX(0);
  }
  &__CloseButton {
    cursor: pointer;
    z-index: 2;
    &--times {
      width: 40px;
      height: 40px;
      position: absolute;
      background: url("../../assets/img/close.svg") no-repeat center;
      top: 0;
      right: 0;
    }
    &--arrow {
      background: url("../../assets/img/arrow-left.svg") no-repeat center;
      height: 40px;
      width: 60px;
    }
  }
  &__Section {
    display: flex;
  }
  &__Row {
    flex: 1 0 100%;
  }
  &__Column {
    &--desktopPreview {
      min-height: (($desktopPreviewWidth * 9) / 16) + $desktopPreviewTopMountHeight + $desktopPreviewBottomMountHeight; //16-9 screen ratio + mount height
    }
  }
  &__Title {
    font-size: 2em;
    text-align: center;
    margin: 40px auto;
  }
  &__Desc {
    text-align: center;
    margin: 25px 15px;
  }
  &__LinksContainer {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__Link {
    padding: 10px;
    transition: transform 0.25s ease-in-out;
    &:hover {
      transform: scale(1.2);
    }
  }
  &__LinkImg {
    height: auto;
  }
  &__Heading {
    @include heading3();
    text-align: center;
    margin: 20px auto;
  }
  &__BlockHeading {
    text-align: center;
    font-weight: 500;
    margin: 15px auto;
    color: $gray;
  }
  &__BlockContent {
    text-align: center;
    &--colors {
      display: flex;
      justify-content: space-around;
      align-items: center;
    }
  }
  &__ColorItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  &__ColorPreview {
    border: 1px solid $gray;
    border-radius: 50%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 15px 0;
    &::after {
      position: absolute;
      content: "";
      border: 1px solid $gray;
      border-radius: 50%;
    }
  }
  &__ColorValue {
    font-family: $altFontFamily;
    margin-top: 10px;
  }
}

.devicePreview {
  position: relative;
  margin: auto;
  &--desktop {
    width: #{"min(#{$desktopPreviewWidth}, 100%)"};
    height: ($desktopPreviewWidth * 9) / 18; //18-9 screen ratio
    border-style: solid;
    border-color: $darkGray;
    border-width: $desktopPreviewHorizontalBorderWidth $desktopPreviewVerticalBorderWidth;
    border-radius: 12px;
    margin-bottom: $desktopPreviewTopMountHeight + $desktopPreviewBottomMountHeight;
    &::before {
      content: "";
      position: absolute;
      width: $desktopPreviewTopMountWidth;
      height: $desktopPreviewTopMountHeight;
      background-color: $darkGray;
      bottom: -($desktopPreviewVerticalBorderWidth + $desktopPreviewTopMountHeight);
      left: 50%;
      transform: translateX(-50%);
    }
    &::after {
      content: "";
      position: absolute;
      width: $desktopPreviewBottomMountWidth;
      height: $desktopPreviewBottomMountHeight;
      background-color: $darkGray;
      border-radius: 6px;
      bottom: -($desktopPreviewVerticalBorderWidth + $desktopPreviewTopMountHeight + $desktopPreviewBottomMountHeight);
      left: 50%;
      transform: translateX(-50%);
    }
  }
  &--mobile {
    width: $mobilePreviewWidth;
    height: ($mobilePreviewWidth * 16) / 9; //9-16 screen ratio
    border-style: solid;
    border-color: $darkGray;
    border-width: $mobilePreviewVerticalBorderWidth $mobilePreviewHorizontalBorderWidth;
    border-radius: 24px;
    &::before {
      content: "";
      position: absolute;
      background-color: #000000;
      width: $mobilePreviewSoundbarWidth;
      height: $mobilePreviewSoundbarHeight;
      border-radius: 10px;
      top: -$mobilePreviewSoundbarHeight -(($mobilePreviewVerticalBorderWidth - $mobilePreviewSoundbarHeight) / 2);
      left: 50%;
      transform: translateX(-50%);
    }
    &::after {
      content: "";
      position: absolute;
      background-color: #000000;
      width: $mobilePreviewButtonWidth;
      height: $mobilePreviewButtonHeight;
      border-radius: 10px;
      bottom: -$mobilePreviewButtonHeight -(($mobilePreviewVerticalBorderWidth - $mobilePreviewButtonHeight) / 2);
      left: 50%;
      transform: translateX(-50%);
    }
  }
  &__Content {
    width: 100%;
    height: 100%;
    overflow-y: auto;
    @include customScrollbar();
  }
  &__Img {
    width: 100%;
    height: auto;
  }
}