// colors
$gold: #d0a264;
$darkGray: #333333;
$gray: #666666;

//fonts
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 200;
  src: local(''),
  url('../../assets/fonts/raleway-v18-latin-ext_latin-200.woff2') format('woff2'),
  url('../../assets/fonts/raleway-v18-latin-ext_latin-200.woff') format('woff');
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: local(''),
  url('../../assets/fonts/raleway-v18-latin-ext_latin-regular.woff2') format('woff2'),
  url('../../assets/fonts/raleway-v18-latin-ext_latin-regular.woff') format('woff');
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 500;
  src: local(''),
  url('../../assets/fonts/raleway-v18-latin-ext_latin-500.woff2') format('woff2'),
  url('../../assets/fonts/raleway-v18-latin-ext_latin-500.woff') format('woff');
}
@font-face {
  font-family: 'Julius Sans One';
  font-style: normal;
  font-weight: 400;
  src: local(''),
  url('../../assets/fonts/julius-sans-one-v9-latin-ext_latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
  url('../../assets/fonts/julius-sans-one-v9-latin-ext_latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
$mainFontFamily: 'Raleway', sans-serif;
$altFontFamily: 'Julius Sans One', sans-serif;
$desktopDefaultFontSize: 24px;
$mobileDefaultFontSize: 12px;

//mixins
@mixin defaultFont($fontSize) {
  font-family: $mainFontFamily;
  font-size: $fontSize;
  font-weight: 400;
  color: $gray;
}

@mixin heading1 {
  font-family: $altFontFamily;
  font-size: 3rem;
  font-weight: 400;
  line-height: 1.25;
  color: $darkGray;
}

@mixin heading2 {
  font-family: $altFontFamily;
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 1.25;
  color: $darkGray;
  text-transform: uppercase;
}

@mixin heading3 {
  font-family: $altFontFamily;
  font-size: 1.5rem;
  font-weight: 400;
  color: $darkGray;
  letter-spacing: 3px;
}

@mixin text {
  font-family: $mainFontFamily;
  font-size: 1rem;
  font-weight: 400;
  color: $gray;
}

//content variables
$mobilePreviewWidth: 320px;
$mobilePreviewHorizontalBorderWidth: 16px;
$mobilePreviewVerticalBorderWidth: 48px;
$mobilePreviewSoundbarWidth: 75px;
$mobilePreviewSoundbarHeight: 5px;
$mobilePreviewSoundbarHeight: 5px;
$mobilePreviewButtonWidth: 75px;
$mobilePreviewButtonHeight: 25px;
$desktopPreviewWidth: 720px;
$desktopPreviewHorizontalBorderWidth: 20px;
$desktopPreviewVerticalBorderWidth: 20px;
$desktopPreviewTopMountWidth: 100px;
$desktopPreviewTopMountHeight: 50px;
$desktopPreviewBottomMountWidth: 300px;
$desktopPreviewBottomMountHeight: 10px;

