@import "common";

html, body {
  @include defaultFont($desktopDefaultFontSize);
}

.navTrigger {
  margin: 25px;
  width: 40px;
  height: 40px;
}

.entryLines {
  width: 200px;
}

.logo {
  max-width: 600px;
}

.section {
  min-height: 100vh;
  &__Column {
    align-self: center;
  }
  &__Text {
    padding: 0 25px;
  }
  &__PageTrigger {
    margin-bottom: 30px;
  }
  &__PageTriggerImg {
    width: 60px;
  }
}