@import "common";

html, body {
  @include defaultFont($desktopDefaultFontSize);
}

.navTrigger {
  margin: 20px;
  &--close {
    right: 15px;
  }
}

.nav {
  &__Header {
    justify-content: space-between;
    align-items: flex-end;
    padding: 45px;
  }
  &__Content {
    margin: 50px;
    padding: 25px;
    &:hover {
      .nav__ItemLink:not(:hover) {
        opacity: 0.5;
      }
    }
  }
  &__Item {
    margin: 25px 0;
  }
}

.entryLines {
  width: 200px;
}

.logo {
  max-width: 480px;
}

.section {
  min-height: 100vh;
  &__Column {
    align-self: center;
  }
  &__Text {
    padding: 0 50px;
  }
}

.contact {
  &__Title {
    font-size: 1.75em;
    font-weight: 500;
  }
  &__Email {
    font-size: 1.75em;
    font-weight: 200;
  }
}

.footer {
  padding: 25px;
  &__IconsContainer {
    justify-content: flex-end;
  }
  &__IconWrapper {
    margin: 0 25px;
  }
  &__Icon {
    width: 50px;
  }
}

.project {
  &__CloseButton {
    margin: 20px;
  }
  &__Section {
    min-height: 100vh;
    margin: 15px 0;
  }
  &__Column {
    align-self: center;
  }
  &__Link {
    margin: 20px 40px;
  }
  &__LinkImg {
    width: 50px;
  }
  &__Block {
    padding: 20px;
  }
  &__BlockContent {
    margin: 10px auto 30px auto;
  }
  &__ColorPreview {
    width: 100px;
    height: 100px;
    &::after {
      width: 125px;
      height: 125px;
    }
  }
}

.devicePreview {;
  box-sizing: content-box;
}