@import "common";

html, body {
  @include defaultFont($desktopDefaultFontSize);
}

.navTrigger {
  margin: 20px;
  &--close {
    right: 15px;
  }
}

.nav {
  &__Header {
    justify-content: space-between;
    align-items: flex-end;
    padding: 45px;
  }
  &__Content {
    margin: 50px;
    padding: 25px;
    &:hover {
      .nav__ItemLink:not(:hover) {
        opacity: 0.5;
      }
    }
  }
  &__Item {
    margin: 25px 0;
  }
}

.entryLines {
  width: 200px;
}

.logo {
  max-width: 500px;
}

.section {
  min-height: 100vh;
  &__Column {
    align-self: center;
  }
  &__Text {
    padding: 0 50px;
  }
  &__PageTrigger {
    margin-bottom: 30px;
  }
  &__PageTriggerImg {
    width: 60px;
  }
}

.contact {
  &__Title {
    font-size: 1.75em;
    font-weight: 500;
  }
  &__Email {
    font-size: 1.75em;
    font-weight: 200;
  }
}

.footer {
  padding: 25px;
  &__IconsContainer {
    justify-content: flex-end;
  }
  &__IconWrapper {
    margin: 0 25px;
  }
  &__Icon {
    width: 50px;
  }
}