@import "common";

html, body {
  @include defaultFont($mobileDefaultFontSize);
}

.navTrigger {
  margin: 15px;
  &--close {
    right: 0;
  }
}

.nav {
  width: 100vw;
  &__Header {
    flex-direction: column;
    padding: 25px;
  }
  &__Content {
    margin: 0 15px;
    padding: 0 10px;
  }
  &__Item {
    margin: 15px 0;
  }
  &__Lang {
    align-self: center;
    margin-top: 30px;
    font-size: 1.5em;
  }
}

.entryLines {
  width: 100px;
}

.logo {
  width: 80%;
}

.section {
  &--entry {
    min-height: 100vh;
  }
  &__Text {
    padding: 0 10px;
  }
  &__PageTrigger {
    margin-bottom: 20px;
  }
  &__PageTriggerImg {
    width: 40px;
  }
}