@import "common";

html, body {
  @include defaultFont($mobileDefaultFontSize);
}

.nav {
  width: 100vw;
}

.entryLines {
  width: 100px;
}

.logo {
  width: 80%;
}

.section {
  &--entry {
    min-height: 100vh;
  }
  &__Text {
    padding: 0 10px;
  }
  &__PageTrigger {
    margin-bottom: 20px;
  }
  &__PageTriggerImg {
    width: 40px;
  }
}